h1{
    background-color: blue;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-align: right;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: 20px;
    line-height: 50px;
    width: 20rem;
    height: 5rem;
    margin: 3rem;
    border: 3px solid black;
    padding: 1rem;
    border-radius: 1rem;
}


.card{
    margin: 0.3rem;
    background-color: crimson;
    width: 12rem;
    height: 12rem;
}

#card3{
    background-color: orange;
    position: relative;
    top: 10rem;
    left: 20rem;
}

/* absoulte units -> px,cm,mm,in,pi,em
    relative units -> %,vh,vw,rem */
